.chat-container {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 74, 26);
  border-radius: 5px;
}

.chat-container > input {
  position: fixed;
  top: 510px;
  width: 250px;
  left: 0px;
}

.chat-container > button {
  position: fixed;
  top: 510px;
  left: 254px;
}