.create-room-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    padding: 1rem;
    height: 100vh;
}

.entry-code-timer p{
    font-size: 2rem;
    margin: 1rem;
}

.entry-code-timer{
    display: flex;
    flex-direction: column;
}

.entry-code-timer input{
    border-radius: 5px;
}

.entry-code{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}

.entry-code-timer input{
    padding: 1rem;
    font-size: 1rem;
}

.coding-questions-form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.create-room-container a{
    text-decoration: none;
    background-color: aquamarine;
    color: rebeccapurple;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.create-room-container a:hover{
    box-shadow: none;
    transform: translateY(2px);
}