@import './variables.scss';

.interview-room-container {  display: grid;
    margin-top: 10px;
    width: 100%;
    background-color: $background-color;
    font-family: $poppins;
    color: $blue-100;
    font-size: 1.2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left-head header right-head"
      "part-head description chat-head"
      "participants code chat";
  }
  
.description {
    grid-area: description;
    font-family: $poppins;
    font-weight: 200;
    font-size: 2fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.code { 
    grid-area: code;
    margin-bottom: 10rem;
}

.code-editor {
    box-shadow: $text-shadow;
}

.chat {
    grid-area: chat;
    @extend %sub-headers;

}

.chat-head {
    grid-area: chat-head;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-head {
    grid-area: left-head;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
//   position: absolute;
//   border: 1px solid white;
    font-size: 2.5rem;
}

.right-head {
    grid-area: right-head;
    // border: 1px solid white;
    font-family: $poppins;
    font-weight: 200;
    font-size: 2fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.participants {
    grid-area: participants;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#room-participants {
    border: none;
}

.part-head {
    grid-area: part-head;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .fa-comments {
    // font-size: 1.2rem;
// }
  


// .interview-room-container{
//     background-color: royalblue;
//     color: white;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     display: grid; 
//     grid-template-columns: 0.75fr 2.1fr 0.75fr; 
//     grid-template-rows: 0.2fr 3fr 0fr; 
//     gap: 0px 0px; 
//     grid-template-areas: 
//         "header header header"
//         "left-side-bar body right-side-bar"
//         "footer footer footer"; 
//     height: 100vh;
//     font-weight: bold;
// }

// .interview-room-header { 
//     grid-area: header; 
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     text-align: center;
//     font-weight: bold;
//     font-size: 3rem;
// }

// .interview-room-footer { 
//     grid-area: footer; 
// }

// .interview-left-side-bar { 
//     grid-area: left-side-bar; 
//     padding: 1rem;
// }

// .interview-right-side-bar { 
//     grid-area: right-side-bar; 
//     padding: 1rem;
// }

// .interview-room-body { 
//     grid-area: body; 
//     text-align: center;
//     padding: 1rem;
// }

.interview-body-title{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    width: 45rem;
}

.diff-display {
    background-color: $blue-900;
    border-radius: 5px;
	box-shadow: $box-shadow; 
    width: 9rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: fit-scontent;
    flex-direction: column;
}

.diff-display p {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: $blue-300;
    font-style: italic;
}

.diff-time-text {
    font-weight: 200;
}

.diff-display div {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

#time-disp {
    color: $background-color;
    font-family: $code;
    font-size: 2rem;
    font-weight: 400;
    font-style:normal;
}

#interview-participants {
    border: none;
}

#room-ul {
    justify-content: center;
}

#room-li {
    justify-content: center;
}

.roomkey-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// .interview-room-body h2{
//     font-size: 2rem;
//     margin: 4rem;
// }

// .question-description{
//     text-align: left;
//     margin: 1rem;
// }