@import './variables.scss';

.nav-bar{
    font-family: $poppins;
    background-color: $background-color;
    color: $blue-100;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $blue-500;
    height: 40px;
    
}

#home-button-icon {
    font-family: $code;
    font-weight: 100;
    text-shadow: $text-shadow;
}

.nav-bar h1{
    font-weight: bold;
}

.home-button{
    text-decoration: none;
    color: white;
}

.nav-bar-buttons a{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    font-weight: 400;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.nav-bar-buttons a:hover{
    box-shadow: none;
    transform: translateY(2px);
}

.nav-bar-buttons button{
    background-color: purple;
    border: 1px solid $cool-gray-100;
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    box-shadow: $text-shadow;
    cursor: pointer;
}

.nav-bar-buttons button:hover{
    box-shadow: none;
    transform: translateY(2px);
}

.signup{
    background-color: $gray-100;
    color: $cool-gray-900;
    text-decoration: none;
}

.login{
    background-color: $cool-gray-900;
    color: $gray-100;
    text-decoration: none;
}

.logout {
    background-color: $cool-gray-600;
    color: $cool-gray-100;
    text-decoration: none;
}