@import './variables.scss';

.questions-index-container {
	// border: 1px solid black;
	background-color: $background-color;
	padding-top: 10px;
	height: 100vw;

	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: $poppins;
	color: $font-color;
	text-shadow: $text-shadow
}

.problems-index-header {
	font-size: 24px;
	margin: 20px;
	font-weight: 400;
}

.questions-list-container {
	// background-color: transparent;
	/* margin-top: 20px; */
	margin-right:25vw;
	margin-left: 25vw;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-auto-rows: 180px;
	grid-gap: 1%;
}


.question-list-btn {
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid $blue-700;
	margin: auto;
	height: 95%;
	width: 95%;
	font-family: $poppins;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 14px;
	transition: $transition;
	color: $font-color;
}

.questions-btn-header {
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.question-list-btn:hover {
	cursor: pointer;
	box-shadow: -3px 3px 10px $blue-400;
	transform: translate(3px, -3px);
	transition: $transition;
}

.question-list-btn:hover > header > .question-list-title {
	letter-spacing: .5px;
	transition: $transition
}

.question-list-btn:active {
	transform: translate(-2px, 2px);
	background-color: $blue-700;
	box-shadow: none;
}

.question-list-title {
	font-weight: 600;
	font-size: 20px;
	transition: $transition;
}

.easy {
	color: green;
	font-weight: bolder;
}

.medium {
	color: #ffe135;
	font-weight: bolder;
}

.hard {
	color: red;
	font-weight: bolder;
}

.questions-list-info-container {
	box-sizing: border-box;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
	color: $blue-500;
	font-size: 14px;
	line-height: 1.15;
	text-align: left;
	text-overflow: ellipsis;
}