@import './variables.scss';

.questions-index-page-container {
	padding-top: 10px;
	width: 100%;
	background-color: $background-color;
	display: grid;
	grid-template-rows: auto auto;

	font-family: $poppins;
	color: $blue-100;
	height: 100%;
}

.create-question-sidebar-container {
	background-color: $background-color;
	padding-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: sticky;
  bottom: 0;
  align-self: flex-end;
	box-shadow: 0 -50px 100px $blue-900;
	height: 100%;
  // box-shadow: 0px -4px 100px rgba(50, 50, 50, 0.75);

}

.create-problems-header {
	font-size: 24px;;
	font-weight: 100;
	text-shadow: $text-shadow;
}

.create-problem-description {
	width: 20%;
	color: $blue-500;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	line-height: 1.25;
}

.create-question-button {
	margin: 20px;
	font-family: $poppins;
	font-size: 20px;
	font-weight: 100;
	top: 5%;
	height: 50px;
	width: 325px;
	min-width: 300px;
	color: $blue-100;
	letter-spacing: 2px;
	background-color: $blue-900;
	border-radius: 5px;
	text-transform: uppercase;
	transition: $transition;
}

.create-question-button:hover {
	@extend %secondary-btn-hov;	
}

.questions-index-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-shadow: $text-shadow;
	height: 100vw;
}

.problems-index-header {
	font-size: 24px;
	margin: 70px;
	font-weight: 200;
}

.questions-list-container {
	margin-left: -15px;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-auto-rows: 180px;
	grid-gap: 1%;
}

.question-show-btn-link {
	text-decoration: none;
}

.question-list-btn {
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid $blue-700;
	margin: 5px;
	height: 95%;
	width: 250px;
	font-family: $poppins;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 14px;
	transition: $transition;
	color: $blue-100;
}

.questions-btn-header {
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 18px;
}

.question-list-btn:hover {
	@extend %btn-hover-template;
}

.question-list-btn:hover > header > .question-list-title {
	letter-spacing: 1px;
	font-size: 22px;
	color: $blue-100;
	// text-shadow: $text-shadow;
	transition: $transition
}

.question-list-btn:active {
	transform: translate(-2px, 2px);
	background-color: $blue-700;
	box-shadow: none;
}

.question-list-btn:hover > header > #diff {
	// font-size: 14px;
	// animation:  shake .8s;
	letter-spacing: 1.2px;
	// text-decoration:wavy;
	line-height: 1.5;
}

.question-list-btn:hover .easy {
		animation:  shake 1.5s;
		animation-iteration-count: infinite;
		transition: $transition;
}

.question-list-btn:hover .medium {
		animation:  shake 1s;
		animation-iteration-count: infinite;
		transition: $transition;
}

.question-list-btn:hover .hard {
		animation:  shake .5s;
		animation-iteration-count: infinite;
		transition: $transition;
}

@keyframes shake{
	0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}

.question-list-title {
	font-weight: 400;
	font-size: 20px;
	transition: $transition;
}

#diff {
	font-size: 12px;
	font-weight: bolder;
	-webkit-font-smoothing: antialiased;
}


.easy {
	color: green;
	font-weight: bolder;
}

.medium {
	color: #ffe135;
	font-weight: bolder;
}

.hard {
	color: $remove;
	font-weight: bolder;
}

.questions-list-info-container {
	box-sizing: border-box;
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	font-weight: 400;
	color: $blue-500;
	font-size: 14px;
	line-height: 1.15;
	text-align: left;
	text-overflow:ellipsis;
}