@import './variables.scss';

.room-lobby-container{
    padding-top: 10px;
	width: 100%;
	background-color: $background-color;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". header ."
    "roomkey time chat-header"
    "buttons participants chat";
	font-family: $poppins;
	color: $blue-100;
    font-size: 1.2rem;
}

.roomkey { 
    grid-area: roomkey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomkey-num {
    background-color: $blue-100;
    color: $background-color;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem;
    height: fit-content;
}

%sub-headers {
    font-family: $code;
    color: $orange-100;
    text-shadow: $text-shadow;
}

.roomkey-text {
    @extend %sub-headers;
}

.time {
    grid-area: time;
    display: flex;
    justify-content: center;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}

.room-lobby-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    width: 18rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.header { 
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: $text-shadow;
    font-weight: 200;
}

.participants { 
    grid-area: participants;
}

.chat {
    grid-area: chat;
    font-size: 1rem;
    margin: auto;
    width: 90%;
    height: 90%;
}

.chat-header {
    grid-area: chat-header;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %sub-headers
}

.time-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @extend %sub-headers;
    border-right: 2px solid $blue-700;
    border-left: 2px solid $blue-700;
    width: 100%;

}

.start-button {
    border: 1px solid $background-color;
    -webkit-font-smoothing: antialiased;
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    font-family: $poppins;
    width: 50%;
    border-radius: 10px;
    margin: 5px;
    transition: $transition;
}

.start-button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
#ready {
    background-color: $green-300;
}

#not-ready {
    background-color: $red-500;
}

#ready-up {
    background-color: $yellow-300;
}

.room-lobby-participants{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    position:static;
    border-left: 2px solid $blue-700;
    border-right: 2px solid $blue-700;
}

.members-ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: $code;
    width: 100%;
}

// .remove-user-button{
//     background-color: firebrick;
//     color: white;
//     padding: 0.25rem;
//     border: 1px solid #eee;
//     border-radius: 5px;
//     margin: 1rem;
//     cursor: pointer;
//     border: 1px solid white;
// }


.user-li {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.status-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-solid {
    margin-right: .5rem;
}

.fa-circle-check {
    color: $green-300;
}

.fa-circle-xmark {
    color: $red-500;
}

.room-lobby-item {
    margin: 20px;
}


.room-lobby-item label {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $blue-900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem; 
    font-family: $code;
}
