$transition: 250ms ease-in-out;

// FONTS
$poppins: 'Poppins', sans-serif;
$futura: Futura, "Trebuchet MS", Arial, sans-serif;
$proxima: proxima-nova, sans-serif;
$code: 'Source Code Pro', monospace;

// COLORS
$background-color: #05172a;
$font-color: #F0F4F8;

// blue (main)
$blue-100: #D9E2EC;
$blue-200: #BCCCDC;
$blue-300: #9FB3C8;
$blue-400: #829AB1;
$blue-500: #627D98;
$blue-600: #486581;
$blue-700: #334E68;
$blue-800: #243B53;
$blue-900: #102A43;

$text-shadow: 0px 0px 5px $blue-500;

// gray
$gray-100: #FAFAFA;
$gray-300: #E0E0E0;
$gray-500: #9E9E9E;
$gray-900: #515151;
$cool-gray-100: #E4E7EB;
$cool-gray-200: #CBD2D9;
$cool-gray-300: #9AA5B1;
$cool-gray-400: #7B8794;
$cool-gray-500: #616E7C;
$cool-gray-600: #52606D;
$cool-gray-700: #3E4C59;
$cool-gray-800: #323F4B;
$cool-gray-900: #1F2933;

// yellow
$yellow-500: #FF991F;
$yellow-300: #FFC400;
$yellow-100: #FFF0B3;

// red
$red-500: #DE350B;
$red-300: #FF7452;
$red-100: #FFBDAD;

// blue
$blue-500: #00A3BF;
$blue-300: #00C7E6;
$blue-300: #B3F5FF;

// green 
$green-500: #006644;
$green-300: #36B37E;
$green-100: #ABF5D1;

// secondary pallette
$secondary-red: #8F0031;
$secondary-yellow: #F79B19;
$secondary-sea-green: #028FA3;
$secondary-baby-blue: #00A8CC;
$secondary-violet: #91198E;

// other colors
$primary: #303F9F;
$secondary: #BDBDBD;
$confirm: #00897B;
$warning: #303F9F;
$remove: #C62828;
$help: #673AB7;


// TEMPLATES
%form-inputs {
	background-color: $gray-100;
	color: $blue-900;
	margin: 1rem;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 5px;
	width: 310px;
	min-width: 300px;
	font-family: $code;
}

%form-submit {
	margin: 20px;
	font-family: $poppins;
	font-size: 20px;
	font-weight: lighter;
	top: 5%;
	height: 50px;
	width: 310px;
	min-width: 300px;
	color: $font-color;
	letter-spacing: 2px;
	background-color: $blue-900;
	border-radius: 5px;
	text-transform: uppercase;
}

%component-container {
	background-color: $background-color;
	color: $blue-100;
	font-family: $poppins;
	letter-spacing: 2px;
	font-weight: lighter;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

%form-header {
	text-shadow: $text-shadow;
	font-size: 2rem;
	font-weight: lighter;
	padding: 10px;
}

%btn-hover-template {
	cursor: pointer;
	box-shadow: -3px 3px 10px $blue-400;
	transform: translate(3px, -3px);
	transition: $transition;
}