$transition: 250ms ease-in-out;

// FONTS
$poppins: 'Poppins', sans-serif;
$futura: Futura, "Trebuchet MS", Arial, sans-serif;
$proxima: proxima-nova, sans-serif;

// COLORS
$background-color: #05172a;
$font-color: #F0F4F8;

// blue (main)
$blue-100: #D9E2EC;
$blue-200: #BCCCDC;
$blue-300: #9FB3C8;
$blue-400: #829AB1;
$blue-500: #627D98;
$blue-600: #486581;
$blue-700: #334E68;
$blue-800: #243B53;
$blue-900: #102A43;

$text-shadow: 0px 0px 5px $blue-500;

// gray
$gray-100: #FAFAFA;
$gray-300: #E0E0E0;
$gray-500: #9E9E9E;
$gray-900: #515151;
$cool-gray-100: #E4E7EB;
$cool-gray-200: #CBD2D9;
$cool-gray-300: #9AA5B1;
$cool-gray-400: #7B8794;
$cool-gray-500: #616E7C;
$cool-gray-600: #52606D;
$cool-gray-700: #3E4C59;
$cool-gray-800: #323F4B;
$cool-gray-900: #1F2933;

// other colors
$primary: #303F9F;
$secondary: #BDBDBD;
$confirm: #00897B;
$warning: #303F9F;
$remove: #C62828;
$help: #673AB7